**/secret.key
**/utils/__pycache__/*

**/cogs/__pycache__/*


**/assets/imgs/bg/*

!**/assets/imgs/characters/monika/0display.png
!**/assets/imgs/characters/monika/0pfp.png

**/assets/imgs/characters/monika/*
!**/assets/imgs/characters/monika/0display.png
!**/assets/imgs/characters/monika/0pfp.png

**/assets/imgs/characters/natsuki/*
!**/assets/imgs/characters/natsuki/0display.png
!**/assets/imgs/characters/natsuki/0pfp.png

**/assets/imgs/characters/sayori/*
!**/assets/imgs/characters/sayori/0display.png
!**/assets/imgs/characters/sayori/0pfp.png

**/assets/imgs/characters/yuri/*
!**/assets/imgs/characters/yuri/0display.png
!**/assets/imgs/characters/yuri/0pfp.png

**/assets/imgs/gui/textbox.png
**/assets/imgs/gui/namebox.png

**/.key
**/.env

**/config.json

**/data/*
!**/data/placeholder.txt


**/cogs/_misc.py


